<div class="row">
	<div class="hero-unit">
		<h1>Mouse Trap Games</h1>
		<p>Mario-Party-esque games on the go</p>

	<div >
	<%= link_to new_user_registration_path do %>
		<button class="btn btn-primary btn-large">
		  Sign up
		</button>
	<% end %>
	</div>



	</div>
